header {
    background-image: url(../images/lighrussia_c.jpg);
    color: white;
    text-align: center;
    padding: 6em 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: none;
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1rem;
}

h1 {
    background-image: url(../images/lighrussia_c.jpeg);
    font-size: 3em;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    width: 300px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.50em;
}

main {
    width: 100 %;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1rem;
}

section {
    display: inline-block;
    width: 35.5%;
    padding: 1%;
    border: 1px solid red;
    vertical-align: top;
}

ul {
    list-style-type: none;
    padding: 100px;
    margin: auto;
}

#searchsubmit {}
